@font-face {
	font-family: "iconfont";
	/* Project id 3595048 */
	src: url('//at.alicdn.com/t/c/font_3595048_wvg6gouapar.ttf?t=1660733472659') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before {
	content: "\e6e4";
}

.icon-xiaoxi:before {
	content: "\ec3b";
}

.icon-diannao:before {
	content: "\e6f9";
}

.icon-shoucang:before {
	content: "\e8b9";
}

.icon-shezhi:before {
	content: "\e62a";
}

.icon-wodeyouhuijuan:before {
	content: "\e7ee";
}

.icon-changjianwentixiangguanwenti:before {
	content: "\e689";
}
